project:
  type: website

website:
  title: "Werlleson Nascimento"
  navbar:
    background: primary
    left:
      - href: index.qmd
        text: Home
      - href: research.qmd
        text: Research
      - href: cv.pdf
        text: CV (PDF)

format:
  html:
    theme: spacelab
    toc: true

lang: en